---
layout: normal
current: work
class: 'home-template'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer {% if page.cover or site.cover %}" style="background-image:  url({{ site.baseurl }}assets/images/projects.jpg) {% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                Series
            </h1>
            <h2 class="site-description">Personal designs and concepts</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {% for post in site.posts %}
                {% if post.categories contains 'series' %}
                    <article class="post-card {{ page.class }}{% unless post.cover %} no-image{% endunless %}">
                        {% if post.cover %}
                            <a class="post-card-image-link" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">
                                <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{ post.cover }})"></div>
                            </a>
                        {% endif %}
                    </article>
                {% endif %}
            {% endfor %}

        </div>

    </div>
</main>